@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    border: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

section {
    gap: 5px;
}

textarea {
    background-color: #D9D9D930;
    border: none;
    padding: 10px;
    resize : none;
    margin-top: 5px;
}

.container {
    padding: 20px;
    display: flex;
    width: 40%;
    min-width: 530px;
    margin: 42px auto;
    box-shadow: 0px 3px 50px 2px rgba(0,0,0,0.25);
    border-radius: 0 0 10px 10px;
    position: relative;
    height: auto;
    gap: 20px;
}

/* FLEXBOX */

.flex--row{
    display: flex;
    flex-direction: row;
}

.flex--column{
    display: flex;
    flex-direction: column;
}

.horizontal--sep {
    background-color: #D9D9D9;
    width: 100%;
    height: 1px;
}

.vertical--sep {
    background-color: #D9D9D9;
    height: auto;
    width: 2px;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100%;
        width: calc(100% - 40px);
    }
}

button {cursor: pointer;}

.alert {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}